<h2 class="heading text-center my-4">Forgot your password?</h2>
<div class="w-75 mx-auto mb-5">
  <div class="form-bg w-50 p-5 m-auto rounded-3">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: "form w-50") do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "form-btn w-100 btn btn-dark border-0 mt-4" %>
      </div>
    <% end %>
    <hr>
    <%= render "devise/shared/links" %>
  </div>
</div>
