<%= link_to 'Back', dashboard_path, class:"btn mx-3  b-text fs-4 text-decoration-underline" %>
<div class="container">
<% if @users.any? %>
<h1 class="heading text-center mt-3 mb-5">All Users</h1>
  <table class="table table-bordered text-center">
    <thead class="thead">
      <tr>
        <th class="table-head text-light">User ID</th>
        <th class="table-head text-light">Name</th>
        <th class="table-head text-light">E-mail</th>
        <th class="table-head text-light">Role</th>
        <%# <th class="table-head text-light">Remove</th> %>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="c-prod"><%= user.id %></td>
          <td class="c-prod"><%= user.name %></td>
          <td class="c-prod"><%= user.email %></td>
          <td class="c-prod"><%= user.role %></td>
          <%# <td class="c-prod"><%= button_to "Remove", remove_from_cart_path(cart_item), method: :delete, class: 'btn btn-danger btn-sm' </td>%>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h1 class="heading text-center my-5">No user account exist.</h1>
<% end %>
</div>